<!DOCTYPE html>
<html>
	<head>
		<title>Welcome, SFU friends!</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/johnL.css') }}">
	</head>
	<body>
		<div id="wrapper">
			<header>
				<h1>Flask App - Chapter 7</h1>
			</header>
			<div class="container">
				{% for message in get_flashed_messages() %}
					<div class="flash">{{ message }}</div>
				{% endfor %}
				{% if error %}
					<p class="error"><strong>Error:</strong> {{ error }}</p>
				{% endif %}
				<!-- Placeholder for child templates: -->
				{% block content %}
				{% endblock %}
			</div>
			<footer> Fall 2015 - John Lamertina </footer>
		</div>
	</body>
</html>